@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* CSS HEX 
	--baby-powder: #f9f7f3ff;
	--safety-orange: #f77700ff;
	--gunmetal: #143642ff;
	--dark-orange: #ff8b1fff;
	--eerie-black: #1a1a1dff;
  */

	/* CSS HSL */
	--light-primary: hsla(40, 33%, 96%, 1);
	--light-carbon: hsla(29, 100%, 48%, 1);
	--light-primary-text: hsla(240, 5%, 11%, 1);
	--light-secondary-text: rgb(56, 56, 59);
	--accent: rgb(0, 38, 52);
	--dark-carbon: hsla(29, 100%, 56%, 1);
	--dark-primary: hsla(240, 5%, 11%, 1);
	--dark-primary-text: rgb(251, 250, 245);
}

@font-face {
	font-family: Couture;
	src: url("/src/fonts/couture-bld.otf");
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background: var(--light-primary);
	color: var(--light-primary-text);
  min-height: 100vh;
}

.section {
  height: calc(100vh);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Navbar */
nav {
	background: var(--light-primary);
}

nav a {
	font-family: Couture, sans-serif;
}

nav #logo {
	font-family: Couture, sans-serif;
	font-size: 1.2rem;
	margin-right: auto;
}

/* Landing page */

#landing {
	background-color: var(--light-primary);
}

#landing-text * {
	width: fit-content;
}

#landing-text {
	margin: 0 0 6rem;
	width: fit-content;
}

#landing p {
	font-family: "Rubik", sans-serif;
	font-size: 1.3rem;
	margin-right: 3rem;
	font-weight: 600;
	color: var(--light-secondary-text);
}

#landing h1 {
	font-family: Couture, sans-serif;
	font-size: 4rem;
	line-height: 3.5rem;
	color: var(--light-carbon);
}

#landing h2 {
	font-family: Couture, sans-serif;
	font-size: 2rem;
	color: var(--accent);
}

#landing .flavor-text {
	width: 30%;
	margin-top: 5px;
}

/* Projects */
#projects {

	background: var(--accent);
}

/* Skills */
#skills {
	background-color: var(--light-primary);
}
