@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* CSS HEX 
	--baby-powder: #f9f7f3ff;
	--safety-orange: #f77700ff;
	--gunmetal: #143642ff;
	--dark-orange: #ff8b1fff;
	--eerie-black: #1a1a1dff;
  */

	/* CSS HSL */
	--light-primary: hsla(40, 33%, 96%, 1);
	--light-carbon: hsla(29, 100%, 48%, 1);
	--light-primary-text: hsla(240, 5%, 11%, 1);
	--light-secondary-text: rgb(56, 56, 59);
	--accent: rgb(0, 38, 52);
	--dark-carbon: hsla(29, 100%, 56%, 1);
	--dark-primary: hsla(240, 5%, 11%, 1);
	--dark-primary-text: rgb(251, 250, 245);

	--marquee-offset-1: -1372px;
	--marquee-offset-2: -1372px;
	--marquee-offset-3: -1372px;
}

@font-face {
	font-family: Couture;
	src: url("../src/fonts/couture-bld.otf");
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background: var(--light-primary);
	color: var(--light-primary-text);
	min-height: 100vh;
	overflow-x: hidden;
}

h1 {
	font-family: Couture, sans-serif;
	color: var(--light-carbon);
}

.section {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Navbar */
nav {
	background: var(--light-primary);
}

nav a {
	font-family: Couture, sans-serif;
	float: right;
}

nav #logo {
	color: var(--light-primary-text) !important;
	font-family: Couture, sans-serif;
	font-size: 1.2rem;
	display: block;
	float: left;
}

nav .hamburger {
	position: absolute;
	right: 1.5rem;
	top: 0.3rem;
}

/* Landing page */

#landing .resume_btn {
	opacity: 80%;
	color: var(--light-primary);
	background: var(--light-carbon);
}
#landing .resume_btn:hover {
	opacity: 100%;
}

#landing .socmed_icon {
	color: var(--accent);
	width: fit-content;
	height: fit-content;
}
#landing .socmed_icon:hover {
	color: var(--light-carbon);
}

#landing {
	background-color: var(--light-primary);
}

#landing-text * {
	width: fit-content;
}

#landing-text {
	width: fit-content;
}

#landing-img img {
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
}

#landing p {
	font-family: "Rubik", sans-serif;
	margin-right: 3rem;
	font-weight: 500;
	color: var(--light-secondary-text);
}

#landing h2 {
	font-family: Couture, sans-serif;
	color: var(--accent);
}

#landing .flavor-text {
	width: 30%;
	margin-top: 5px;
}

/* Projects */
#projects {
	background: var(--accent);
}

#projects iframe {
	width: 100%;
	min-height: 30rem;
}

/* Project Carousel */
@keyframes enterRight {
	from {
		transform: translateX(7rem);
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

@keyframes exitRight {
	from {
		opacity: 100%;
	}
	to {
		transform: translatex(-7rem);
		opacity: 0%;
	}
}

@keyframes enterLeft {
	from {
		transform: translateX(-7rem);
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

@keyframes exitLeft {
	from {
		opacity: 100%;
	}
	to {
		transform: translatex(7rem);
		opacity: 0%;
	}
}

.enter-right {
	animation-name: enterRight;
	animation-duration: 0.3s;
}

.exit-right {
	animation-name: exitRight;
	animation-duration: 0.3s;
}

.enter-left {
	animation-name: enterLeft;
	animation-duration: 0.3s;
}

.exit-left {
	animation-name: exitLeft;
	animation-duration: 0.3s;
}

.carousel {
	height: fit-content;
}

.carousel__slide {
	visibility: hidden;
	display: none;
}

.carousel__track-container {
	height: fit-content;
}

.carousel__button {
	cursor: pointer;
	transform: translateY(-50%);
}

.carousel__indicator {
	background-color: var(--light-carbon);
}

div.current-slide {
	visibility: visible !important;
	display: flex;
}

button.current-slide {
	opacity: 100%;
}

div.carousel__slide img {
	max-height: calc(100vh - 8rem);
}

.carousel__slide-text,
.carousel__slide-img {
	animation: carousel__slide-toggle 0.3s ease-in;
}

@keyframes carousel__slide-toggle {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

#projects h2,
#projects h3 {
	font-family: Couture, sans-serif;
	color: var(--light-carbon);
}
#projects h4 {
	font-family: Couture, sans-serif;
	color: var(--light-primary);
}

#projects p {
	color: var(--light-primary);
}

#projects .project-peek-btn {
	font-family: Couture, sans-serif;
	color: var(--light-primary);
	background-color: var(--light-carbon);
}

#projects .project-peek-btn:hover {
	transform: scale(1.1);
}

/* Skills */
#skills {
	background-color: var(--light-primary);
}

/* Skills Carousel */
.skillbox {
	height: 100%;
	transition: all 0.2s ease-out;
	padding: 2rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.skillbox img {
	height: 100%;
	max-width: 80%;
}

.skillbox:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.marquee {
	width: 90%;
	border: 2px solid #eee;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
}

.marquee__inner {
	display: block;
	height: 100%;
	position: absolute;
}

.marquee-1 {
	animation: marquee-1 30s linear infinite;
}

.marquee-2 {
	animation: marquee-2 20s linear infinite;
}

.marquee-3 {
	animation: marquee-3 20s linear infinite;
}

.marquee__inner:hover {
	animation-play-state: paused;
}

.skillbox_container {
	float: left;
	height: 100%;
}

@keyframes marquee-1 {
	0% {
		left: 0;
	}
	100% {
		left: var(--marquee-offset-1);
	}
}

@keyframes marquee-2 {
	0% {
		right: 0;
	}
	100% {
		right: var(--marquee-offset-2);
	}
}

@keyframes marquee-3 {
	0% {
		left: 0;
	}
	100% {
		left: var(--marquee-offset-3);
	}
}

@media only screen and (min-width: 1200px) {
	#landing-img img {
		max-width: 500px;
		max-height: 500px;
	}
}

@media only screen and (max-width: 767px) {
	.hidden-project {
		display: none !important;
	}

	nav.responsive {
		position: relative;
	}
	/* nav.responsive  {
    position: absolute;
    right: 0;
    top: 0;
  } */
	nav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
